<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="master.css" media="screen" title="no title" charset="utf-8">
    <title>idag</title>
  </head>
  <body>
    <section id="main">
      <div id="center">
        <p id="greeting">&nbsp;</p>
        <p id="weather">vädret är skit</p>
        <p id="tv"><%- config.tvstring %></p>
        <p id="studstimer">&nbsp;</p>
      </div>
    </section>
    <script src="client.js" charset="utf-8"></script>
  </body>
</html>
